<%layout("/templates/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Edit details for your listing:</h2>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="listing[title]" class="form-label">Title:</label>
        <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title Looks Good!</div>
        <div class="invalid-feedback">Title is required</div>
        </div>
        
        <div class="mb-3">
        <label for="listing[description]" class="form-label">Description:</label>
        <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
        <div class="valid-feedback">Description Looks Good!</div>
        <div class="invalid-feedback">Description is required</div>
        </div>
        <div class="mb-3">
            Original Image:
            <br/>
            <img src="<%=originalimage%>" height="170px" width="200px"/>
        </div>
         <div class="mb-3">
        <label for="listing[image]" class="form-label">Upload new image(optional)</label>
         <input name="listing[image]" value="<%=listing.image%>" type="file" class="form-control"/>
        <div class="invalid-feedback">Image is required</div>
         </div>
        
        <div class="form-label mb-3">
        <label for="listing[price]" class="form-label">Price:</label>
        <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required/>
         <div class="valid-feedback">Price Looks Good!</div>
        <div class="invalid-feedback">Price should be valid!</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select class="form-select" aria-label="Default select example" id="category" name="listing[category]" required>
  <option selected><%=listing.category%></option>
  <option value="rooms">Rooms</option>
  <option value="iconiccities">Iconic Cities</option>
  <option value="mountains">Mountains</option>
  <option value="castles">Castles</option>
  <option value="amazingpools">Amazing Pools</option>
  <option value="camping">Camping</option>
  <option value="arctic">Arctic</option>
  <option value="pilgrimage">Pilgrimage</option>
  <option value="farms">Farms</option>
  <option value="others">Others</option>
</select>
        </div>
        <div class="row">
        <div class="mb-3 col-4">
        <label for="listing[location]" class="form-label">Location:</label>
        <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required/>
         <div class="valid-feedback">Location Looks Good!</div>
        <div class="invalid-feedback">Location is required</div>
        </div>
        
        <div class="mb-3 col-8">
        <label for="listing[country]" class="form-label">Country:</label>
        <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required/>
         <div class="valid-feedback">Country Looks Good!</div>
        <div class="invalid-feedback">Country is required</div>
        </div>
       </div>
        <button class="btn edit-btn btn-dark" type="submit">Edit</button>
        <br/><br/>
    </form>
    </div>
    </div>
</body>
