<%layout("/templates/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-3">
    <h3><%=listing.title%></h3>
    </div>
    </div>
    <div class="card offset-3 col-6">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="...">
        <div class="card-body">
           <p class="card-text"><i>Owned by:<b><%=listing.owner.username%></b></i></p>
            <p class="card-text"><%=listing.description%></p>
            <p class="card-text">&#8377;<%=listing.price.toLocaleString("en-IN")%></p>
            <p class="card-text"><%=listing.location%></p>
             <p class="card-text"><%=listing.country%></p>
             <p class="card-test"><i class="fa-sharp fa-solid fa-question"></i>&nbsp;&nbsp;<%=listing.category%></p>
        </div>
    </div>
     <%if(currUser && currUser._id.equals(listing.owner._id)){%>
      <div class="mybtns offset-4 col-4">  
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary">Edit</a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" onsubmit="return confirm('Do you really want to delete this listing?')">
        <button class="btn btn-danger">Delete</button>
    </form>
     <form method="get" action="/listings">
        <button class="btn btn-success">Done</button>
    </form>
</div>
     <%}%>
   <hr/>
     <div class="mb-3 col-8 offset-3">
    <%if(currUser){%>
   <h4>Leave A Review...</h4>
 
   <form method="POST" action="/listings/<%=listing._id%>/reviews" class="needs-validation" novalidate>
    <div class="mb-3 mt-3">
    <label for="review" class="form-label">Rating</label>
    <fieldset class="starability-slot">
  <input type="radio" id="first-rate1" name="review[rating]" value="1" checked/>
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
    <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea id="comment" name="review[comment]" cols="30" rows="1" class="form-control" required></textarea>
        <div class="invalid-feedback">Comment is required</div>
    </div>
    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" value="yes" id="checkNativeSwitch" switch name="review[isAnonymous]">
  <label class="form-check-label" for="checkNativeSwitch">
    mark my review as anonymous
  </label>
</div>
    <button class="btn btn-success">Submit</button>
   </form>
   
    <%}%>
    <hr/>
<%if(listing.reviews.length>0){%>
<div class="row offset-3">
        <p><b>All Reviews</b></p>
    <% for (let review of listing.reviews) { %>
        <div class="col-5 ms-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@<b><%=review.isAnonymous?"Anonymous":review.author.username%></b></h5>
                    <p class="starability-result card-text" data-rating=<%=review.rating%>></p>
                    <p class="card-text"><%= review.comment %></p>                   
                    <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
                </div>
            </div>
        </div>
    <% } %>
</div>
<%}%>
</div>
<div class="col-8 offset-3 mb-3">
      <h3>Where you'll be</h3>
     <div id="map">

     </div>
</div> 
</body>
<script>
    let listing = <%- JSON.stringify(listing) %>;
    let MapToken = "<%= process.env.MAP_API_KEY %>";
	mapboxgl.accessToken = MapToken;

    const map = new mapboxgl.Map({
        container: 'map',
        center: listing.geometry.coordinates,
        zoom: 9
    });

    const marker1 = new mapboxgl.Marker({ color: "red" })
        .setLngLat(listing.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 })
            .setHTML(`<h4>${listing.title}</h4><p>Exact Location provided after booking</p>`))
        .addTo(map);
      
</script>

